//Colors
$color-primary: mediumblue;
$color-primary-light: lightblue;
$color-primary-dark: darkblue;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-grey-light: #f7f7f7;
$color-grey: #eee;
$color-grey-dark: #333;

$color-white: #fff;

$color-black: #000;

//Font
$default-font-size: 1.8rem;