.navElem-container, .footerElem-container{
    display: flex;
    justify-content: space-between;
    // background-color:slategray;

    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8));

    border: 10px solid black;
    padding: 10px;
    position: sticky;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 5rem;
    animation: nav-load var(--nav-load-time) ease-in;
}