.btn {
    background-color: var(--background-color);
    color: #222;
    padding: .5em 1em;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    
    /* optional button pill-shape design commented below */
    /* border: 1px solid #CCC; */
    /* border-radius: 900px; */
    /* background-color: #e7e7e7; */
  
    --background-color: #E3E3E3;
    --border-size: 2px;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border: var(--border-size) solid var(--background-color);
    
        /* border: 1px solid #CCC; */
        /* border-radius: 900px; */
        /* background-color: #e7e7e7; */
    
        transition: top, left, right, bottom, 100ms ease-in-out;
    }

    &:hover::before,
    &:focus::before{
        top: calc(var(--border-size) * -2);
        left: calc(var(--border-size) * -2);
        right: calc(var(--border-size) * -2);
        bottom: calc(var(--border-size) * -2);
    }

    &.addGameBtn{
        margin: 1rem;
        margin-left: 2rem;
    }

    &.removeBtn{
        align-self:flex-end;
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
    }

    &.addGameBtn,
    &.removeBtn{
        border: 1px solid $color-black;
        transition: all .1.5s;
        &:hover{
            background-color: $color-primary;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            transform: translateY(-2px);
        }
    
        &:active{
            box-shadow: 0 .5rem 1rem rgba($color-black, .15);
            transform: translateY(0);
        }
    }
    
  }