.gameInfo-container{
    background-color: $color-grey;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
    width: 100vw;

    animation: load-games var(--nav-load-time) ease-in 200ms;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

.addGameContainer{
    background-color: $color-grey;
    animation: load-games var(--nav-load-time) ease-in 200ms;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

.gameInfo{
    &.container{
        padding-top: 1rem;
        border: 1px solid black;

        &:last-child{
            padding-bottom: 1rem;
        }

        &.draggable{
            cursor: move;

            &.dragging{
                opacity: 0.5;
            }
        }
    }

    &.content{
        // margin-inline: 10px;
        // margin-top: 1.25rem;
        margin-bottom: 1.5rem;

        &.blockOne{
            margin-top: 2rem;

            &:not(:last-child){
                margin-right: 1rem;
            }
        }
    
        &.blockTwo{
            &:not(:last-child){
                margin-right: 1rem;
            }        
        }
    }

    &.boxArt{
        /* flex-grow: 1; */
        margin-left: 1rem;
        margin-right: 1rem;
        width: 150px;
        background-color: #AAA;
        float: left;

        transition: all .2s;


        &:hover,
        &:focus{
            transform: scale(2);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            position: relative;
            z-index: 1;
        }
    }



}

