*{
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    --nav-load-time: 300ms;
    background-color: $color-grey-dark;
}

input[type='number']{
    width: 80px;
}

hr{
    border:solid 1px slategrey;
    width: 100%;
    height: 1px;
}