*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

.navElem-container, .footerElem-container{
    display: flex;
    justify-content: space-between;
    background-color:slategray;
    border: 10px solid black;
    padding: 10px;
    position: sticky;
    height: auto;
    align-items: center;
    text-align: center;
}

/* --- */
/* Begin Header Nav Elements */
.navElem-container{
    margin: 0;
}

.navElem{

}

.navElem.sortBtn{
    margin-left: 1.5rem;
}

.navElem.homeBtn{
    font-size: 2em;
    margin: .5rem;
    text-decoration: none;
    color:orange;
    font-family:sans-serif;
}

.navElem.settingsBtn{
    margin-right: 1.5rem;
}
/* end Header Nav */

/* ---------------------------------------------- */

/* begin Footer Nav Elements */
.footerElem-container{
    margin: 0;
}

.footerElem{

}

.footerElem.allGames{
    margin-left: 0.75rem;
}

.footerElem.search{
    margin-right: 0.75rem;
}

.logout{
    /* margin: 10px; */
    /* padding: 10px; */
    /* width: 350px; */
}

/* end footer nav elements */

/* --------------------------------------------- */

/* begin gameInfo elements */

.gameInfo-container{
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    margin: 25px;
}

.gameInfo.container-one{
    /* margin: 25px; */
}

.gameInfo.container-two{
    /* margin: 25px; */
}

.gameInfo.content{
    margin-inline: 10px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.gameInfo.boxArt{
    /* flex-grow: 1; */
    width: 150px;
}

.remove{
    align-self:flex-end;
}

input[type='number']{
    width: 80px;
}

hr{
    border:solid 1px slategrey;
    width: 100%;
    height: 1px;
}